.zumly-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.zumly-canvas > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.zumly-canvas:focus {
  outline: none;
}

.z-view {

}

.z-view.is-current-view {

}

.z-view.is-new-current-view {

}

.z-view.is-previous-view, .z-view.is-last-view, .z-view.has-no-events,  {
  pointer-events: none;
  user-select: none;
}

.zoom-me {
  cursor: pointer
}

.zoom-me > .zoomed {}
